In [1]:
import pandas as pd

## Step 1: Load the Data

In [2]:
df = pd.read_csv('AmazonSalesData.csv')

In [3]:
# View the first few rows
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

Weâ€™re importing the dataset into a Pandas DataFrame so we can work with it easily.

In [4]:
# View all columns
print(df.columns.tolist())

['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority', 'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price', 'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit']

 ## Step 2: Identify Missing Values

In [5]:
# Check for missing values
missing_values = df.isnull().sum()
print("Missing values per column:\n", missing_values)

Missing values per column:
 Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

.isnull().sum() helps us find how many nulls (missing values) exist in each column.

##  Step 3: Handle Missing Values

In [6]:
# Example: Remove any rows with missing critical values (e.g., 'Order Date', 'Country')
df = df.dropna(subset=['Order Date', 'Country'])

In [7]:
# Optionally fill missing with a placeholder for text columns
df['Item Type'] = df['Item Type'].fillna('Unknown')

In [8]:
# 3. Remove duplicate rows
df = df.drop_duplicates()

In [9]:
# 4. Standardize text values
# Strip spaces, convert to lowercase for 'Country' and 'Region'
df['Country'] = df['Country'].str.strip().str.lower()
df['Region'] = df['Region'].str.strip().str.lower()

In [10]:
# 5. Convert date formats to consistent type (dd-mm-yyyy)
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)
df['Ship Date'] = pd.to_datetime(df['Ship Date'], dayfirst=True)

C:\Users\navya\AppData\Local\Temp\ipykernel_10300\2405191581.py:2: UserWarning: Parsing dates in MM/DD/YYYY format when dayfirst=True was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)
C:\Users\navya\AppData\Local\Temp\ipykernel_10300\2405191581.py:3: UserWarning: Parsing dates in MM/DD/YYYY format when dayfirst=True was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Ship Date'] = pd.to_datetime(df['Ship Date'], dayfirst=True)

In [11]:
# 6. Rename column headers to be clean and uniform
df.columns = [col.strip().replace(' ', '_').lower() for col in df.columns]

In [12]:
# 7. Check and fix data types
# Ensure numeric columns are correct
numeric_cols = ['units_sold', 'unit_price', 'unit_cost', 'total_revenue', 'total_cost', 'total_profit']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [13]:
# 8.Save cleaned data
df.to_csv('AmazonSalesData_cleaned.csv', index=False)

In [14]:
# 9.Print summary of changes
print("Number of rows after cleaning:", len(df))
print("Number of duplicates after cleaning:", df.duplicated().sum())
print("Missing values after cleaning:\n", df.isnull().sum())

Number of rows after cleaning: 100
Number of duplicates after cleaning: 0
Missing values after cleaning:
 region            0
country           0
item_type         0
sales_channel     0
order_priority    0
order_date        0
order_id          0
ship_date         0
units_sold        0
unit_price        0
unit_cost         0
total_revenue     0
total_cost        0
total_profit      0
dtype: int64

Explanation of Each Step
1. Load Data:Read the CSV into a DataFrame.
2. Identify & Handle Missing Values:Print the count of missing values per column.
3. Drop rows where critical fields like 'Order Date' or 'Country' are missing.
4. Fill missing 'Item Type' with 'Unknown' as an example.
5. Remove Duplicate Rows:Use .drop_duplicates() to ensure no row is repeated.
6. Standardize Text Values:Strip leading/trailing spaces.
7. Convert to lowercase for consistency.
8. Convert Date Formats:Convert 'Order Date' and 'Ship Date' to pandas datetime objects using dayfirst=True for dd-mm-yyyy consistency.
9. Rename Column Headers:Strip spaces.
10. Replace spaces with underscores.
11. Convert headers to lowercase.
12. Check and Fix Data Types:Convert number columns to numeric, coercing errors (bad values become NaN, easily handled or flagged).
13. Save Cleaned Data:
14. Export cleaned DataFrame to a new CSV.
15. Summary:Print information about rows, duplicates, and missing values after cleaning (for your documentation/summary).